h1{background-color: rgb(230, 81, 101); padding-top: 20px; padding-bottom: 20px;}
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                margin: 0;
                padding: 0;
                font-size: .5em;
                text-align: center;
            }
            .container {
                width: 800px;
                margin: 0 auto;
                background-color:pink;
                padding: 20px;
            }
            .left{
                width:48%;
                float:right;
            }
            .right{
                width:48%;
                float:right;
            }
            article p{color: brown;
            }
            footer{
                text-align: center;
                background-color: rgb(230, 81, 101);
                clear: both;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
            }
.limelight-regular {
  font-family: "Limelight", serif;
  font-weight: 400;
  font-style: normal;
  color:black;
  font-size: 2em;
}

.funnel-sans-500 {
  font-family: "Funnel Sans", "Georga", "Courier New", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(58, 18, 2);
  font-size: 3em;
}
a:hover{
    text-decoration:none;
    color: rgb(59, 17, 4);
}
a:visited{
    color: brown;
}
a:active {
    color: maroon;
}
h3 {
    font-size: .1em;
}
p {
    font-size: 2em;
}
p.big {
    line-height: 1.8;
}
h2.big {
    text-align: center;
    line-height: 1.8;
    font-size: 3em;
}
table, th, td {
    border: 1px solid black;
    border-style: solid;
    border-collapse: collapse;
}
tr:hover {
    background-color: rgb(230, 81, 101);
}
th {
    background-color: brown;
}
table {
    width: 600px;
    height: 300px;
}
.centerTable { 
    margin: 0px auto; 
}
ul.a {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 13px;
    padding: 5%;
}
ul.b {
    list-style-type: square;
    list-style-position: inside;
    font-size: 13px;
    margin: 0%;
    padding: 5%;
}